@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("/kurosaki.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
div::-webkit-scrollbar {
  width: 8px; /* Make the scrollbar thinner */
}

div::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark track color */
}

div::-webkit-scrollbar-thumb {
  background: #555; /* Dark thumb color */
  border-radius: 4px; /* Rounded corners */
}

div::-webkit-scrollbar-thumb:hover {
  background: #777; /* Lighter color on hover */
}

/* For Firefox */
div {
  scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: #555 #2d2d2d; /* Thumb and track color */
}

.shake {
  animation: shake 0.5s ease-in-out; /* Adjust duration and timing function as needed */
}
@keyframes shake {
  0% { transform: translateX(0) rotate(0deg); }
  25% { transform: translateX(-5px) rotate(-2deg); }
  50% { transform: translateX(5px) rotate(2deg); }
  75% { transform: translateX(-5px) rotate(-2deg); }
  100% { transform: translateX(0) rotate(0deg); }
}